@charset "UTF-8";

/* 回答はここに書いてね */
.q3__table {
  table-layout:fixed;
  width:100%;
}

.q3__table th {
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
  color:white;
}

.q3__table td {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  
}
.q3__table th ,.q3__table td {
  padding: 10px;
  border: solid #dedede 1px;
}

tbody tr:nth-child(even){
  background-color: #ecf1f2;

}

tbody tr:last-child{
  border-top: dashed #000 2px;
}


/* 回答はここに書いてね */
